<div class="form">
  <label for="fruit-color">
    Please drag a fruit color here:
  </label>
  <input dnd-droppable
         (onDropSuccess)="setColorValue($event)"
         [ngModel]="fruitColor"
         (ngModelChange)="class = $event.toLowerCase()"
         [ngClass]="class"
         id="fruit-color">
</div>

<div class="form">
  <label for="fruit-name">
    Please drag a fruit color here to see its name:
  </label>
  <input dnd-droppable
         (onDropSuccess)="setNameValue($event)"
         [(ngModel)]="fruitName"
         id="fruit-name">
</div>

<ag-grid-angular
  style="width: 620px; height: 200px;"
  class="ag-theme-balham"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [frameworkComponents]="frameworkComponents">
</ag-grid-angular>

<div>
  <button type="button" (click)="openWindow()">Open window</button>
</div>
